@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
/* ---------- GLOBAL STYLING ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-family: "Source Code Pro", monospace;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
  color: #fefefe;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 400;
  color: #fefefe;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #fefefe;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  color: #fefefe;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #fefefe;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.5s ease;
}

button.normal:hover {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #fff;
  background-color: #088178;
}

body {
  width: 100%;
  background-color: #2d2e32;
}

body::selection {
  color: #000000;
  background: #64f4ac;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: #CACACA;
  transition: 0.3s ease;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
  background: #FEFEFE;
}



/* ---------- SECTION HEADER ---------- */
#header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2e3273;
  border: 1px solid #2d2e3240;
  box-shadow: 0 0 10px 1px #00000040;
  backdrop-filter: blur(15px);
  color: #fefefe;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
}

/* #content-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

.navbar-title {
  display: flex;
  align-items: center;
}

.title-first-name {
  padding: 0 7.5px;
  font-weight: 600;
  color: #fefefe;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

.title-last-name {
  font-size: 24px;
  font-weight: 400;
  color: #cacaca;
  font-family: "Raleway", sans-serif;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar-menu .active {
  color: #64f4ac;
  font-weight: 900;
}

.navbar-menu li a {
  color: #fefefe;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  transition: 0.3s ease;
}

.navbar-menu li a:hover {
  color: #64f4ac;
  font-weight: 900;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media li {
  display: flex;
  padding: 0 16px;
  align-items: center;
  list-style: none;
}

.social-media li i {
  font-size: 14px;
  transition: 0.3s ease;
}
.social-media li a {
  color: #fefefe;
  text-decoration: none;
  padding: 0 5px;
  font-size: 12px;
  transition: 0.3s ease;
}

.social-media li:nth-child(1):hover i {
  color: #0077b5;
}

.social-media li:nth-child(3):hover i {
  color: #ea4335;
}

.social-media li:hover a {
  font-weight: 800;
}

/* ---------- SECTION BODY CONTENT ---------- */
#content-body {
  display: flex;
  background-color: #2d2e32;
  align-items: flex-start;
  height: 90vh;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 100px 0 0 100px;
  margin-bottom: 10vh;
  max-height: 100vh;
}

.developer-intro {
  display: flex;
  align-items: center;
}

.developer-intro p {
  padding: 5px 10px;
  margin: 0 20px 0 0;
  background-color: #64f4ac;
  color: #2d2e32;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2.5px;
  align-items: center;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.developer-intro p:hover {
  font-weight: 900;
}

.body-title h1 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1.5px;
  padding: 35px 0 0 0;
}

.body-title p {
  font-size: 12px;
  padding: 20px 0;
  color: #cacaca;
  font-weight: 500;
  line-height: 25px;
}

.body-title a {
  font-size: 16px;
  color: #64f4ac;
  font-weight: 600;
  padding: 20px 0;
  margin: 20px 0;
}

.body-tail {
  display: flex;
  align-items: start;
  padding: 100px 0 0 0;
}

.body-tail p {
  color: #cacaca;
  font-size: 16px;
  font-weight: 500;
  padding: 0 40px 0 5px;
}

.body-part-2 {
  position: relative;
}

.background-circle {
  background: #28292d;
  border-radius: 50%;
  width: 550px;
  height: 550px;
  z-index: 9;
  box-shadow: 0 0 20px #00000080;
}

.hoodie-guy {
  position: absolute;
  background: url(assets/Hoodie-guy.png);
  top: 100px;
  height: 550px;
  width: 550px;
  background-size: cover;
}

.circle {
  position: relative;
  top: 400px;
  left: 220px;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: animateCircle 40s linear infinite;
}

@keyframes animateCircle {
  0% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
      translateY(-30px);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
      translateY(-30px);
  }
}

.circle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d2e32;
  box-shadow: 0px 0px 5px #00000080;
  border-radius: 50%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * calc(360deg / 12))) translateZ(300px);
}

.circle span img {
  position: relative;
  top: 12px;
  left: 12px;
  object-fit: cover;
}



/* ----------INTRODUCTION---------- */
#introduction {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  background-color: #25262a;
  min-height: 95vh;
  align-items: center;
}

.cards {
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.design-card {
  max-width: 80%;
  min-height: 150px;
  background-color: #2d2e32;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px #00000040;
  transition: 0.5s ease;
}

.design-card:hover {
  box-shadow: 0 0 15px #00000080;
  cursor: pointer;
}

.design-card.active {
  background-color: #00b840;
}

.design-card.active p {
  color: #000000;
  font-weight: 700;
}

.design-card div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  transition: 0.3s ease;
}

.design-card:hover div {
  color: #64f4ac;
}

.design-card div h3 {
  font-weight: 500;
}

.design-card:hover div h3 {
  font-weight: 600;
}

.design-card p {
  font-size: 14px;
  font-weight: 600;
  color: #7c7d81;
}

.design-card a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

.design-card:hover a {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.introduction-text {
  display: block;
  min-width: 50%;
  padding-right: 175px;
}

.introduction-text p:nth-child(1) {
  font-size: 14px;
  color: #7c7d81;
  font-weight: 800;
}

.introduction-text h2 {
  margin: 20px 0;
}

.introduction-text h4 {
  font-size: 26px;
  font-style: italic;
}

.introduction-text p {
  font-size: 18px;
  color: #7c7d81;
  font-weight: 600;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}

.portfolio h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
  gap: 2.5vh;
}

.portfolio-card {
  position: relative;
  height: 30vw;
  width: 30vw;
  background-color: #3d3e42;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition: all ease 0.5s;
}

.portfolio-card img {
  position: relative;
  height: 30vw;
  width: 30vw;
  object-fit: cover;
}

.portfolio-card .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  height: 30vw;
  width: 30vw;
  background-color: #34353ba2;
  align-items: center;
  justify-content: center;
  padding: 24px;
  opacity: 0;
  transition: all ease 0.5s;
}

.portfolio-card .overlay h3 {
  color: #fbfbfb;
  font-size: 24px;
}

.portfolio-card .overlay p {
  color: #fbfbfb;
  font-size: 16px;
  text-align: center;
}

.portfolio-card .overlay button {
  height: 36px;
  width: 108px;
  background-color: #fec86a;
  border: 1px solid #fec86a;
  border-radius: 8px;
  color: #34353b;
  font-size: 12px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.portfolio-card .overlay:hover {
  opacity: 1;
}

.portfolio button {
  margin-top: 50px;
  height: 48px;
  width: 144px;
  background-color: #fec86a;
  border: 1px solid #fec86a;
  border-radius: 8px;
  color: #34353b;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 0.5s;
}

.portfolio button:hover {
  background-color: #cc9e4e;
}

.experience{
  display: flex;
  flex-direction: column;
  width:100vw;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
}

.experience h1 {
  position: absolute;
  color: #fbfbfb;
  font-size: 56px;
  font-family: "Libre Baskerville", serif;
  top: 5%; /* Adjust this value to add more space */
  left: 15;
}


.lighter-div{
  background-color: #3d3e42;
  width: 100vw;
  padding: 20vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.lighter-div .exp{
  height: 30vh;
  width: 50vw;
  position: relative;
  margin-left: 20vh;
}

.exp h2{
  color: #fbfbfb;
  font-size: 32px;
  font-weight: 400;
}

.exp h2::before{
  content: "";
  height: 20px;
  width: 20px;
  color: #fec86a;
  background-color: #fec86a;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 7.5%;
  left: -5%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px #fec86a;
}

.exp-desc::before {
  content: "";
  height: 190px;
  width: 2.5px;
  background-color: #fbfbfb;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: -5%;
}

.exp-desc h3{
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.exp-desc p {
  color: #fbfbfb;
  font-size: 16px; /* Add 'px' to specify the font size */
  font-weight: 400;
  margin-bottom: 10px; /* Adjust this value to add space between p and br */
}

.exp-desc br {
  display: none; /* Hide the line break element */
}



/* ----------Skills---------- */


.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 100px;
}

.skills h1{
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.cards{
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 2.5vh;
}

.skill-card{
  height: 20vw;
  /*width: 20vw;*/
  width: 30%; 
  background-color: #3d3e42;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition:all ease 0.5s;
}

.skill-card:hover{
  background-color: #fec86a;
}

.skill-card img{
  height: 7.5vw;
  width: 7.5vw;
  object-fit: contain;
}

.skill-card h2{
  font-size: 24px;
  font-weight: 400;
  color: #fbfbfb;
}


/* ----------FOOTER---------- */

.contact-details{
  width: 100vw;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.contact-details h1 {
  font-size: 56px;
  color: #fbfbfb;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.contact {
  display: flex;
  gap: 24px;
}

.contact-card i {
  vertical-align: middle; /* Add this line to align the icon vertically in the middle */
}

.contact-card {
  background-color: #fec86a;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  margin-top: 7.5vh;
}

.contact-card span {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.contact-card p{
    font-size: 15px;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.5; /* Adjust the line-height property to align the text and icon vertically */
}


.social-icons {
  margin-top: 20px; /* Add a margin to shift the social icons down */
}
.social-icons a {
  text-decoration: none;
}

.social-icons a i {
  color: #FFF;
  margin: 0 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

.social-icons a:nth-child(1) i:hover {
  color: #0072b1;
}

.social-icons a:nth-child(3) i:hover {
  color: #ea4335;
}

.social-icons a:nth-child(4) i:hover {
  color: #00acee;
}

.social-icons a:nth-child(5) i:hover {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.social-icons a:nth-child(6) i:hover {
  color: #3b5998;
}